################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/EXEsTour/EXEsTour/bin/Debug/netcoreapp2.2
