<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        {{ title }}
    </h1>
</div>

<mat-toolbar>
    <span>Excelence For Your Relaxation!</span>
</mat-toolbar>
<br>
<mat-tab-group animationDuration="1500ms">
    <mat-tab label="Home">
        <h1>Welcome! Take your tour! </h1>
        <p>Carousel with images and so on</p>
    </mat-tab>
    <mat-tab label="Book">
        <h1>Book your vacation</h1>
        <p>Booking form with all the logic in this module</p>
    </mat-tab>
    <mat-tab label="Contact">
        <h1>About</h1>
        <p>Contact us form</p>
    </mat-tab>
</mat-tab-group>

<router-outlet>

</router-outlet>